<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/users/update(id=${user.getId()})}" th:object="${user}">
    <label for="firstName">Enter first name</label>
    <input type="text" th:field="*{firstName}"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name error</div>
    <br/>
    <label for="password">Enter first name</label>
    <input type="text" th:field="*{password}"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
    <br/>
    <label for="lastName">last name</label>
    <input type="text" th:field="*{lastName}"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name error</div>
    <br/>
    <label for="email">email </label>
    <input type="text" th:field="*{email}"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
    <br/>
    <input type="submit" value="update">
</form>
<a th:href="@{/logout}">Logout</a>
</body>
</html>